{{ attach_library('mmg9_two/video-player') }}
<div {{ attributes.addClass(classes) }} data-entity-id="{{ theme_helpers.eid }}">
  {{ title_suffix }}
  <div class="content">
    {{ content.field_video_player_videos }}
  </div>
</div>

