{{ attach_library('mmg9_two/custom-markup') }}
<div {{ attributes.addClass(classes) }} data-component-class="component--{{ theme_helpers.bundle }}" data-entity-id="{{ theme_helpers.eid }}">
  {{ title_suffix }}
  <div class="content">
    {{ content.field_markup_text }}
  </div>
</div>

