<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','{{ gtm_id }}');</script>
    <head-placeholder token="{{ placeholder_token|raw }}">
    <meta name="referrer" content="unsafe-url">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
    <noscript>
    <style>
      /**
      * SIMPLEBAR - Reinstate scrolling for non-JS clients
      */
      .simplebar-content-wrapper {
        overflow: auto;
      }
    </style>
  </noscript>
  </head>
  <body{{ attributes }}>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ gtm_id }}"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div id="skip">
      <a class="visually-hidden focusable skip-link" href="#main">
        {{ 'Skip to content'|t }}
      </a>
    </div>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
    <link rel="stylesheet" href="/themes/custom/mmg9_two/dist/non-critical.min.css"/>
  </body>
</html>
